In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'one': [1,1], 'two': [2,2]}
i = ['a', 'b']

df = pd.DataFrame(data=d, index=i)
df

   one  two
a    1    2
b    1    2

In [3]:
df.index

Index(['a', 'b'], dtype='object')

In [4]:
stack = df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [5]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [6]:
unstack = df.unstack()

In [7]:
transpose = df.T
transpose

     a  b
one  1  1
two  2  2

In [8]:
transpose.index

Index(['one', 'two'], dtype='object')