In [3]:
import pandas as pd
import numpy as np

In [16]:
d = {
    'one': np.ones(5, dtype=int),
    'two': np.full(5, 2, dtype=int),
    'letter': np.array(['a', 'a', 'b', 'b', 'c'])
}

df = pd.DataFrame(d)
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [18]:
one = df.groupby('letter')
one.sum()

        one  two
letter
a         2    4
b         2    4
c         1    2

In [19]:
letter_one = df.groupby(['letter', 'one']).sum()
letter_one

            two
letter one
a      1      4
b      1      4
c      1      2

In [20]:
letter_one.index

MultiIndex(levels=[['a', 'b', 'c'], [1]],
           labels=[[0, 1, 2], [0, 0, 0]],
           names=['letter', 'one'])

In [21]:
letter_one = df.groupby(['letter', 'one'], as_index=False).sum()
letter_one

  letter  one  two
0      a    1    4
1      b    1    4
2      c    1    2

In [22]:
letter_one.index

Int64Index([0, 1, 2], dtype='int64')