In [19]:
import pandas as pd

In [26]:
import requests

headers = {
    'Referer': 'https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time',
    'Origin': 'https://www.transtats.bts.gov',
    'Content-Type': 'application/x-www-form-urlencoded',
}

params = (
    ('Table_ID', '236'),
    ('Has_Group', '3'),
    ('Is_Zipped', '0'),
)

data = 'UserTableName=On_Time_Performance&DBShortName=On_Time&RawDataTable=T_ONTIME&sqlstr=+SELECT+FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CTAIL_NUM%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CORIGIN_CITY_NAME%2CORIGIN_STATE_NM%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CDEST_CITY_NAME%2CDEST_STATE_NM%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE%2CCARRIER_DELAY%2CWEATHER_DELAY%2CNAS_DELAY%2CSECURITY_DELAY%2CLATE_AIRCRAFT_DELAY+FROM++T_ONTIME+WHERE+Month+%3D1+AND+YEAR%3D2014&varlist=FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CTAIL_NUM%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CORIGIN_CITY_NAME%2CORIGIN_STATE_NM%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CDEST_CITY_NAME%2CDEST_STATE_NM%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE%2CCARRIER_DELAY%2CWEATHER_DELAY%2CNAS_DELAY%2CSECURITY_DELAY%2CLATE_AIRCRAFT_DELAY&grouplist=&suml=&sumRegion=&filter1=title%3D&filter2=title%3D&geo=All%A0&time=January&timename=Month&GEOGRAPHY=All&XYEAR=2014&FREQUENCY=1&VarDesc=Year&VarType=Num&VarDesc=Quarter&VarType=Num&VarDesc=Month&VarType=Num&VarDesc=DayofMonth&VarType=Num&VarDesc=DayOfWeek&VarType=Num&VarName=FL_DATE&VarDesc=FlightDate&VarType=Char&VarName=UNIQUE_CARRIER&VarDesc=UniqueCarrier&VarType=Char&VarName=AIRLINE_ID&VarDesc=AirlineID&VarType=Num&VarDesc=Carrier&VarType=Char&VarName=TAIL_NUM&VarDesc=TailNum&VarType=Char&VarName=FL_NUM&VarDesc=FlightNum&VarType=Char&VarName=ORIGIN_AIRPORT_ID&VarDesc=OriginAirportID&VarType=Num&VarName=ORIGIN_AIRPORT_SEQ_ID&VarDesc=OriginAirportSeqID&VarType=Num&VarName=ORIGIN_CITY_MARKET_ID&VarDesc=OriginCityMarketID&VarType=Num&VarName=ORIGIN&VarDesc=Origin&VarType=Char&VarName=ORIGIN_CITY_NAME&VarDesc=OriginCityName&VarType=Char&VarDesc=OriginState&VarType=Char&VarDesc=OriginStateFips&VarType=Char&VarName=ORIGIN_STATE_NM&VarDesc=OriginStateName&VarType=Char&VarDesc=OriginWac&VarType=Num&VarName=DEST_AIRPORT_ID&VarDesc=DestAirportID&VarType=Num&VarName=DEST_AIRPORT_SEQ_ID&VarDesc=DestAirportSeqID&VarType=Num&VarName=DEST_CITY_MARKET_ID&VarDesc=DestCityMarketID&VarType=Num&VarName=DEST&VarDesc=Dest&VarType=Char&VarName=DEST_CITY_NAME&VarDesc=DestCityName&VarType=Char&VarDesc=DestState&VarType=Char&VarDesc=DestStateFips&VarType=Char&VarName=DEST_STATE_NM&VarDesc=DestStateName&VarType=Char&VarDesc=DestWac&VarType=Num&VarName=CRS_DEP_TIME&VarDesc=CRSDepTime&VarType=Char&VarName=DEP_TIME&VarDesc=DepTime&VarType=Char&VarName=DEP_DELAY&VarDesc=DepDelay&VarType=Num&VarDesc=DepDelayMinutes&VarType=Num&VarDesc=DepDel15&VarType=Num&VarDesc=DepartureDelayGroups&VarType=Num&VarDesc=DepTimeBlk&VarType=Char&VarName=TAXI_OUT&VarDesc=TaxiOut&VarType=Num&VarName=WHEELS_OFF&VarDesc=WheelsOff&VarType=Char&VarName=WHEELS_ON&VarDesc=WheelsOn&VarType=Char&VarName=TAXI_IN&VarDesc=TaxiIn&VarType=Num&VarName=CRS_ARR_TIME&VarDesc=CRSArrTime&VarType=Char&VarName=ARR_TIME&VarDesc=ArrTime&VarType=Char&VarName=ARR_DELAY&VarDesc=ArrDelay&VarType=Num&VarDesc=ArrDelayMinutes&VarType=Num&VarDesc=ArrDel15&VarType=Num&VarDesc=ArrivalDelayGroups&VarType=Num&VarDesc=ArrTimeBlk&VarType=Char&VarName=CANCELLED&VarDesc=Cancelled&VarType=Num&VarName=CANCELLATION_CODE&VarDesc=CancellationCode&VarType=Char&VarName=DIVERTED&VarDesc=Diverted&VarType=Num&VarDesc=CRSElapsedTime&VarType=Num&VarDesc=ActualElapsedTime&VarType=Num&VarDesc=AirTime&VarType=Num&VarDesc=Flights&VarType=Num&VarName=DISTANCE&VarDesc=Distance&VarType=Num&VarDesc=DistanceGroup&VarType=Num&VarName=CARRIER_DELAY&VarDesc=CarrierDelay&VarType=Num&VarName=WEATHER_DELAY&VarDesc=WeatherDelay&VarType=Num&VarName=NAS_DELAY&VarDesc=NASDelay&VarType=Num&VarName=SECURITY_DELAY&VarDesc=SecurityDelay&VarType=Num&VarName=LATE_AIRCRAFT_DELAY&VarDesc=LateAircraftDelay&VarType=Num&VarDesc=FirstDepTime&VarType=Char&VarDesc=TotalAddGTime&VarType=Num&VarDesc=LongestAddGTime&VarType=Num&VarDesc=DivAirportLandings&VarType=Num&VarDesc=DivReachedDest&VarType=Num&VarDesc=DivActualElapsedTime&VarType=Num&VarDesc=DivArrDelay&VarType=Num&VarDesc=DivDistance&VarType=Num&VarDesc=Div1Airport&VarType=Char&VarDesc=Div1AirportID&VarType=Num&VarDesc=Div1AirportSeqID&VarType=Num&VarDesc=Div1WheelsOn&VarType=Char&VarDesc=Div1TotalGTime&VarType=Num&VarDesc=Div1LongestGTime&VarType=Num&VarDesc=Div1WheelsOff&VarType=Char&VarDesc=Div1TailNum&VarType=Char&VarDesc=Div2Airport&VarType=Char&VarDesc=Div2AirportID&VarType=Num&VarDesc=Div2AirportSeqID&VarType=Num&VarDesc=Div2WheelsOn&VarType=Char&VarDesc=Div2TotalGTime&VarType=Num&VarDesc=Div2LongestGTime&VarType=Num&VarDesc=Div2WheelsOff&VarType=Char&VarDesc=Div2TailNum&VarType=Char&VarDesc=Div3Airport&VarType=Char&VarDesc=Div3AirportID&VarType=Num&VarDesc=Div3AirportSeqID&VarType=Num&VarDesc=Div3WheelsOn&VarType=Char&VarDesc=Div3TotalGTime&VarType=Num&VarDesc=Div3LongestGTime&VarType=Num&VarDesc=Div3WheelsOff&VarType=Char&VarDesc=Div3TailNum&VarType=Char&VarDesc=Div4Airport&VarType=Char&VarDesc=Div4AirportID&VarType=Num&VarDesc=Div4AirportSeqID&VarType=Num&VarDesc=Div4WheelsOn&VarType=Char&VarDesc=Div4TotalGTime&VarType=Num&VarDesc=Div4LongestGTime&VarType=Num&VarDesc=Div4WheelsOff&VarType=Char&VarDesc=Div4TailNum&VarType=Char&VarDesc=Div5Airport&VarType=Char&VarDesc=Div5AirportID&VarType=Num&VarDesc=Div5AirportSeqID&VarType=Num&VarDesc=Div5WheelsOn&VarType=Char&VarDesc=Div5TotalGTime&VarType=Num&VarDesc=Div5LongestGTime&VarType=Num&VarDesc=Div5WheelsOff&VarType=Char&VarDesc=Div5TailNum&VarType=Char'

dest = "flights.csv.zip"

r = requests.post('https://www.transtats.bts.gov/DownLoad_Table.asp',
                    headers=headers, params=params, data=data, stream=True)

with open("flights.csv.zip", 'wb') as f:
    for chunk in r.iter_content(chunk_size=102400): 
        if chunk:
            f.write(chunk)

In [29]:
zf = zipfile.ZipFile("flights.csv.zip")
fp = zf.extract(zf.filelist[0].filename, path='')
df = pd.read_csv(fp, parse_dates=["FL_DATE"]).rename(columns=str.lower)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471949 entries, 0 to 471948
Data columns (total 37 columns):
fl_date                  471949 non-null datetime64[ns]
unique_carrier           471949 non-null object
airline_id               471949 non-null int64
tail_num                 467903 non-null object
fl_num                   471949 non-null int64
origin_airport_id        471949 non-null int64
origin_airport_seq_id    471949 non-null int64
origin_city_market_id    471949 non-null int64
origin                   471949 non-null object
origin_city_name         471949 non-null object
origin_state_nm          471949 non-null object
dest_airport_id          471949 non-null int64
dest_airport_seq_id      471949 non-null int64
dest_city_market_id      471949 non-null int64
dest                     471949 non-null object
dest_city_name           471949 non-null object
dest_state_nm            471949 non-null object
crs_dep_time             471949 non-null int64
dep_time                 441622 non-null float64
dep_delay                441622 non-null float64
taxi_out                 441266 non-null float64
wheels_off               441266 non-null float64
wheels_on                440453 non-null float64
taxi_in                  440453 non-null float64
crs_arr_time             471949 non-null int64
arr_time                 440453 non-null float64
arr_delay                439620 non-null float64
cancelled                471949 non-null float64
cancellation_code        30852 non-null object
diverted                 471949 non-null float64
distance                 471949 non-null float64
carrier_delay            119994 non-null float64
weather_delay            119994 non-null float64
nas_delay                119994 non-null float64
security_delay           119994 non-null float64
late_aircraft_delay      119994 non-null float64
unnamed: 36              0 non-null float64
dtypes: datetime64[ns](1), float64(17), int64(10), object(9)
memory usage: 133.2+ MB

In [42]:
first = df.groupby('airline_id')[['fl_date', 'unique_carrier']].first()
first.head()

              fl_date unique_carrier
airline_id
19393      2014-01-01             WN
19690      2014-01-01             HA
19790      2014-01-01             DL
19805      2014-01-01             AA
19930      2014-01-01             AS

In [45]:
# loc - label based indexing, iloc - positional based indexing

In [46]:
first.loc[['AA', 'AS', 'DL'], ['fl_date', 'tail_num']]

                  fl_date tail_num
unique_carrier
AA             2014-01-01   N002AA
AS             2014-01-01   N524AS
DL             2014-01-01   N911DL

In [47]:
first.iloc[[0, 1, 3], [0, 1]]

                  fl_date  airline_id
unique_carrier
AA             2014-01-01       19805
AS             2014-01-01       19930
DL             2014-01-01       19790

In [49]:
# multi-dimensional indexing

In [50]:
hdf = df.set_index(['unique_carrier', 'origin', 'dest', 'tail_num',
                    'fl_date']).sort_index()
hdf[hdf.columns[:4]].head()

                                                airline_id  fl_num  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06       19805    1662
                                    2014-01-27       19805    1090
                           N202AA   2014-01-27       19805    1332
                           N426AA   2014-01-09       19805    1662
                                    2014-01-15       19805    1467

                                                origin_airport_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06              10140
                                    2014-01-27              10140
                           N202AA   2014-01-27              10140
                           N426AA   2014-01-09              10140
                                    2014-01-15              10140

                                                origin_airport_seq_id
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06                1014002
                                    2014-01-27                1014002
                           N202AA   2014-01-27                1014002
                           N426AA   2014-01-09                1014002
                                    2014-01-15                1014002

In [51]:
hdf.loc[['AA', 'DL', 'US'], ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06    1246.0       71.0
                                    2014-01-27     605.0        0.0
                           N202AA   2014-01-27     822.0      -13.0
                           N426AA   2014-01-09    1135.0        0.0
                                    2014-01-15    1022.0       -8.0
                           N436AA   2014-01-01     729.0       -1.0
                                    2014-01-23    1134.0       -1.0
                           N437AA   2014-01-06    1027.0       -3.0
                           N438AA   2014-01-03     726.0       -4.0
                                    2014-01-11    1512.0       -8.0
                           N439AA   2014-01-18       NaN        NaN
                           N454AA   2014-01-20     727.0       -3.0
                           N456AA   2014-01-19    1516.0       -4.0
                           N466AA   2014-01-08    1134.0       -1.0
                           N468AA   2014-01-02    1521.0        1.0
                                    2014-01-10    1359.0       -6.0
                           N470AA   2014-01-07     726.0       -4.0
                                    2014-01-22     726.0       -4.0
                           N472AA   2014-01-30    1517.0       -3.0
                           N474AA   2014-01-02    1155.0       85.0
                                    2014-01-05    1704.0        9.0
                           N475AA   2014-01-22    1131.0       -4.0
                                    2014-01-24     907.0       97.0
                           N477AA   2014-01-08    1537.0       17.0
                           N479AA   2014-01-01     828.0       -7.0
                                    2014-01-17    1400.0       -5.0
                                    2014-01-24    1526.0        6.0
                           N482AA   2014-01-28     553.0      -12.0
                           N483AA   2014-01-01    1133.0       -2.0
                                    2014-01-09     722.0       -8.0
...                                                  ...        ...
US             TPA    PHX  N827AW   2014-01-30     706.0        1.0
                           N828AW   2014-01-09     700.0       -5.0
                                    2014-01-22     702.0       -3.0
                           N830AW   2014-01-01     703.0       -2.0
                                    2014-01-04     701.0       -4.0
                           N831AW   2014-01-28     703.0       -2.0
                           N832AW   2014-01-05     659.0       -6.0
                           N833AW   2014-01-23     715.0       10.0
                           N835AW   2014-01-03     954.0       -6.0
                           N837AW   2014-01-15     658.0       -7.0
                                    2014-01-24     653.0      -12.0
                           N838AW   2014-01-25     701.0       -4.0
                           N839AW   2014-01-06     705.0        0.0
                                    2014-01-12     658.0       -7.0
                                    2014-01-13     701.0       -4.0
               TUS    PHX  N804AW   2014-01-09    1901.0       -9.0
                           N810AW   2014-01-17    1859.0      -11.0
                                    2014-01-31    1902.0       -8.0
                           N812AW   2014-01-23    1901.0       -9.0
                           N815AW   2014-01-22    1900.0      -10.0
                           N816AW   2014-01-27    1902.0       -8.0
                           N818AW   2014-01-30    1913.0        3.0
                           N819AW   2014-01-24    1858.0      -12.0
                           N822AW   2014-01-15    1900.0      -10.0
                           N824AW   2014-01-13    1910.0        0.0
                                    2014-01-16    1900.0      -10.0
                                    2014-01-20    1903.0       -7.0
                           N836AW   2014-01-08    1928.0       18.0
                                    2014-01-29    1908.0       -2.0
                           N837AW   2014-01-10    1902.0       -8.0

[139194 rows x 2 columns]

In [52]:
hdf.loc[(['AA', 'DL', 'US'], ['ORD', 'DSM']), ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             DSM    DFW  N200AA   2014-01-12     603.0       -7.0
                                    2014-01-17     751.0      101.0
                           N424AA   2014-01-10    1759.0       -1.0
                                    2014-01-15    1818.0       18.0
                           N426AA   2014-01-07    1835.0       35.0
                                    2014-01-16     615.0        5.0
                           N437AA   2014-01-24     650.0       40.0
                                    2014-01-31     620.0       10.0
                           N438AA   2014-01-17    1810.0       10.0
                           N439AA   2014-01-06     637.0       27.0
                           N472AA   2014-01-26    1800.0        0.0
                           N475AA   2014-01-02    1850.0       50.0
                           N476AA   2014-01-20    1754.0       -6.0
                           N480AA   2014-01-19     617.0        7.0
                           N484AA   2014-01-10     601.0       -9.0
                           N487AA   2014-01-02     620.0       10.0
                           N493AA   2014-01-03     615.0        5.0
                                    2014-01-14     559.0      -11.0
                           N4WKAA   2014-01-14    1748.0      -12.0
                           N4WSAA   2014-01-15     611.0        1.0
                                    2014-01-29    1816.0       16.0
                           N4WTAA   2014-01-08     608.0       -2.0
                           N4XCAA   2014-01-30     607.0       -3.0
                           N4XDAA   2014-01-26     602.0       -8.0
                           N4XGAA   2014-01-03    1810.0       10.0
                                    2014-01-06    1851.0       51.0
                           N4XLAA   2014-01-16    2045.0      165.0
                                    2014-01-28    1759.0       -1.0
                           N4XMAA   2014-01-23     619.0        9.0
                           N4XWAA   2014-01-05    1759.0       -1.0
...                                                  ...        ...
US             ORD    PHX  N625AW   2014-01-16    1408.0       -2.0
                                    2014-01-20    1402.0       -8.0
                           N626AW   2014-01-18    1405.0       -5.0
                                    2014-01-23    1409.0       -1.0
                                    2014-01-25    1404.0       -6.0
                           N631AW   2014-01-02    1712.0      182.0
                                    2014-01-03    1409.0       -1.0
                                    2014-01-04    1406.0       -4.0
                                    2014-01-10    1704.0       -1.0
                                    2014-01-27    1403.0       -7.0
                           N633AW   2014-01-12    1408.0       -2.0
                                    2014-01-21    1404.0       -6.0
                                    2014-01-30    1408.0       -2.0
                           N637AW   2014-01-17    1410.0        0.0
                           N642AW   2014-01-24    1415.0        5.0
                           N658AW   2014-01-05    1432.0       22.0
                           N661AW   2014-01-01    1414.0        4.0
                           N668AW   2014-01-31    1418.0        8.0
                           N673AW   2014-01-09    1411.0        1.0
                           N806AW   2014-01-26    1406.0       -4.0
                           N830AW   2014-01-28    1401.0       -9.0
                           N833AW   2014-01-10    1500.0       50.0
                           N837AW   2014-01-19    1408.0       -2.0
                           N839AW   2014-01-14    1406.0       -4.0
                           NaN      2014-01-06       NaN        NaN
                                    2014-01-06       NaN        NaN
                                    2014-01-07       NaN        NaN
                                    2014-01-07       NaN        NaN
                                    2014-01-08       NaN        NaN
                                    2014-01-30       NaN        NaN

[5205 rows x 2 columns]

In [53]:
hdf.loc[pd.IndexSlice[:, ['ORD', 'DSM']], ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             DSM    DFW  N200AA   2014-01-12     603.0       -7.0
                                    2014-01-17     751.0      101.0
                           N424AA   2014-01-10    1759.0       -1.0
                                    2014-01-15    1818.0       18.0
                           N426AA   2014-01-07    1835.0       35.0
                                    2014-01-16     615.0        5.0
                           N437AA   2014-01-24     650.0       40.0
                                    2014-01-31     620.0       10.0
                           N438AA   2014-01-17    1810.0       10.0
                           N439AA   2014-01-06     637.0       27.0
                           N472AA   2014-01-26    1800.0        0.0
                           N475AA   2014-01-02    1850.0       50.0
                           N476AA   2014-01-20    1754.0       -6.0
                           N480AA   2014-01-19     617.0        7.0
                           N484AA   2014-01-10     601.0       -9.0
                           N487AA   2014-01-02     620.0       10.0
                           N493AA   2014-01-03     615.0        5.0
                                    2014-01-14     559.0      -11.0
                           N4WKAA   2014-01-14    1748.0      -12.0
                           N4WSAA   2014-01-15     611.0        1.0
                                    2014-01-29    1816.0       16.0
                           N4WTAA   2014-01-08     608.0       -2.0
                           N4XCAA   2014-01-30     607.0       -3.0
                           N4XDAA   2014-01-26     602.0       -8.0
                           N4XGAA   2014-01-03    1810.0       10.0
                                    2014-01-06    1851.0       51.0
                           N4XLAA   2014-01-16    2045.0      165.0
                                    2014-01-28    1759.0       -1.0
                           N4XMAA   2014-01-23     619.0        9.0
                           N4XWAA   2014-01-05    1759.0       -1.0
...                                                  ...        ...
WN             DSM    MDW  N718SW   2014-01-25    1619.0       -1.0
                           N726SW   2014-01-13     655.0       -5.0
                           N752SW   2014-01-28       NaN        NaN
                           N769SW   2014-01-21     656.0       -4.0
                           N771SA   2014-01-25     808.0       -2.0
                           N7730A   2014-01-16    1851.0       66.0
                           N7738A   2014-01-29    1744.0       -1.0
                           N7739A   2014-01-09     659.0       -6.0
                           N7812G   2014-01-11    1725.0       65.0
                                    2014-01-22    1740.0       -5.0
                           N781WN   2014-01-27       NaN        NaN
                           N782SA   2014-01-24    1741.0       -4.0
                           N788SA   2014-01-15    1741.0       -4.0
                           N793SA   2014-01-12    1740.0       -5.0
                           N8608N   2014-01-12    1130.0        5.0
                           N903WN   2014-01-08     702.0       -3.0
                                    2014-01-23    1838.0       53.0
                           N915WN   2014-01-08    1802.0       17.0
                           N922WN   2014-01-10     704.0       -1.0
                           N934WN   2014-01-01    1906.0       81.0
                           N939WN   2014-01-20     701.0        1.0
                           N941WN   2014-01-17    1759.0       14.0
                           N943WN   2014-01-10    2229.0      284.0
                           N963WN   2014-01-22     656.0       -4.0
                           N967WN   2014-01-30     654.0       -6.0
                           N969WN   2014-01-19    1747.0        2.0
                           NaN      2014-01-04       NaN        NaN
                                    2014-01-06       NaN        NaN
                                    2014-01-07       NaN        NaN
                                    2014-01-28       NaN        NaN

[22380 rows x 2 columns]