In [1]:
import pandas as pd

In [6]:
contest = pd.read_csv('popularity-contest.txt', sep=' ')[:-1]

In [8]:
contest.columns = ['atime', 'ctime', 'package-name', 'mru-program', 'tag']

In [10]:
contest[:3]

,atime,ctime,package-name,mru-program,tag
0,1387295797,1367633260,perl-base,/usr/bin/perl,NaN
1,1387295796,1354370480,login,/bin/su,NaN
2,1387295743,1354341275,libtalloc2,/usr/lib/x86_64-linux-gnu/libtalloc.so.2.0.7,NaN